<h1>{{ block.settings.text }}</h1>
<h2>{{ block.settings.text }}</h2>
<h3>{{ block.settings.text }}</h3>
<h4>{{ block.settings.text }}</h4>
<h5>{{ block.settings.text }}</h5>
<h6>{{ block.settings.text }}</h6>

{% schema %}
{
  "name": "DD",
  "tag": null,
  "settings": [
    {
      "type": "richtext",
      "id": "text",
      "label": "t:settings.text",
      "default": "t:html_defaults.share_information_about_your"
    }
  ],
  "presets": [
    {
      "name": "DD",
      "category": "t:categories.basic",
      "settings": {
        "text": "<p>We make things that work better and last longer. Our products solve real problems with clean design and honest materials.</p>"
      }
    }
  ]
}
{% endschema %}
